@import url('https://fonts.google.com/specimen/Raleway')


* { 
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
color:rgb(70, 60, 60);
}

html, body { 
    margin: 0%;
    padding: 0%;
    color: rgb(247, 247, 242);
    background-color: rgb(14, 13, 13);
}

.nav ul{
    margin: 0%;
}

.nav li{
    display: inline;
 }

.nav a{
    display: inline-block;
    padding: .5em;
    color: aliceblue;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgb(155, 74, 16, .3);

}

.main-nav li{ 
    padding: 0.5%;
}

.main-nav{ 
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px rgba(163, 151, 151, 0.6);
}

.main-header{
    background-color: rgba(0, 0, 0, .6);
     background-image: url("https://img-4.linternaute.com/ZdPU4WFCjMXteSbnutBLaqorQYE=/1500x/smart/f6893f147d7c4dac9141991c234729e6/ccmcms-linternaute/10759855.jpg");
background-blend-mode: multiply;
    background-size: 30%;
padding-bottom: 30px;
 }

.main-tittle
{ text-align: center;
    margin: 0;
font-size: 4em;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.content-section{
    margin: 1em;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: rgb(87, 10, 10);
    text-align: center;
    font-size: 2.5em;
}
.about-dali-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.section-break{ font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: rgb(87, 10, 10);
    text-align: center;
    font-size: 2.5em;

}